.event-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__input {
    width: 500px;
    height: 50px;
    margin: 14px;

    &-error-msg {
      color: red;
    }
  }

  &__submit-btn {
    margin-top: 24px;
    width: 500px;
    height: 36px;
  }
}